@model WebApplication1.Models.ViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Doctor Preferences</h1>
    <p class="lead">Setup guides for interventional procedures.</p>
    <p><a href="~/Home/Find" class="btn btn-primary btn-lg">Start &raquo;</a></p>
</div>

<div class="row" style="text-align:center">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">

    </div>
</div>